html, body {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
.grid1 {
  display: grid;
  color: blue;
  padding: 30%;
}

=======
h1 {
  color: green;
  font-family: arial;
  float: left;
}

h2 {
  float: left;
}

p {
  float: left;
  margin-left: 20vw;
}

ul {
  display: flex;
  justify-content: space-around;
  float: left;
  width: 80%;
}
 li a {
 display: block;
 padding: 15px;
 text-decoration: none;
 color: #2F242C;
 font-size: 18px;
 margin-top: 2em;
 }
>>>>>>> 775ed89f1b293dac3a5fb416224c636de283aa7a
